# Important Requirements here.
telethon
gitpython
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
motor
asyncpg
redis[hiredis]
localdb.json
pydantic-settings
psutil
oauth2client
apscheduler
Profanitydetector
PyPDF2
twikit
htmlwebshot
akipy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
qrcode
Pillow
pytesseract
moviepy
aiocron
aiosqlite
# v3.0 additions
isal
gTTS
python-whois
google-genai
SpeechRecognition
pydub
# v3.1 additions
googletrans==4.0.0rc1
lyricsgenius
faker
humanize
deep-translator